@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Mono+One&display=swap");

body {
  background-color: #ffffff;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

td:not(:last-child) {
  padding-right: 10px;
}

h1 {
  font-family: "Rubik Mono One", monospace;
}
